.App {
  text-align: center;
  scroll-behavior: smooth;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.my_card {
  text-align: left;
}

.go_read {
  float: right;
}

.card-footer {
  height: 10rem;
  bottom: 0px;
}

.my_row {
  padding-top: 1rem;
  gap: 2rem;
}
.my_col {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  z-index: 0;
}
.action_up {
  z-index: 1;
  width: 50px;
  height: 50px;
  font-size: xx-large;
  position: fixed;
  bottom: 0px;
  right: 0;
  margin-right: 20px;
  margin-bottom: 50px;
  cursor: pointer;
  display: none;
}
.icon {
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
